@page
@model CVSTS_FE.Pages.DoseRecordManage.DetailsModel

@{
    ViewData["Title"] = "Dose Record Details";
}

<div class="container mt-4">
    <div class="card shadow-lg p-4">
        <h2 class="text-center text-primary">Dose Record Details</h2>
        <hr />
        <div class="row justify-content-center">
            <div class="col-md-8">
                <dl class="row">
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.DoseRecord.DoseDate)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.DoseRecord.DoseDate)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.DoseRecord.DoseNumber)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.DoseRecord.DoseNumber)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.DoseRecord.Status)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.DoseRecord.Status)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.DoseRecord.CreateAt)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.DoseRecord.CreateAt)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.DoseRecord.VaccineName)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.DoseRecord.VaccineName)</dd>
                    
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.DoseRecord.ChillName)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.DoseRecord.ChillName)</dd>
                </dl>

                <div class="d-flex justify-content-between mt-3">
                    <a asp-page="./Edit" asp-route-id="@Model.DoseRecord.Id" class="btn btn-warning">
                        <i class="bi bi-pencil-square"></i> Edit
                    </a>
                    <a asp-page="./Index" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
