@page
@model CVSTS_FE.Pages.VaccineManage.DetailsModel

@{
    ViewData["Title"] = "Vaccine Details";
    Layout = "~/Pages/Shared/_LayoutStaff.cshtml";
}

<div class="container mt-4">
    <div class="text-center mb-4">
        <h1 class="fw-bold text-primary">Vaccine Details</h1>
        <p class="lead text-muted">View detailed information about the vaccine.</p>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title">Vaccine Information</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Vaccine.Name)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Vaccine.Name)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Vaccine.Description)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Vaccine.Description)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Vaccine.Origin)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Vaccine.Origin)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Vaccine.MinAge)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Vaccine.MinAge)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Vaccine.MaxAge)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Vaccine.MaxAge)
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="text-center mt-3">
                <a asp-page="./Edit" asp-route-id="@Model.Vaccine.Id" class="btn btn-outline-info">
                    <i class="fas fa-edit"></i> Edit
                </a>
                <a asp-page="./Index" class="btn btn-secondary">
                    <i class="fas fa-list"></i> Back to List
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/YOUR_KIT_ID.js" crossorigin="anonymous"></script>
}