@page
@model CVSTS_FE.Pages.DoseSheduleManage.DeleteModel

@{
    ViewData["Title"] = "Delete Dose Schedule";
    Layout = "~/Pages/Shared/_LayoutStaff.cshtml";

}

<div class="container mt-4">
    <div class="card shadow-lg p-4 border-danger">
        <h2 class="text-center text-danger">Confirm Deletion</h2>
        <hr />
        <p class="text-center fs-5">Are you sure you want to delete this dose schedule?</p>

        <dl class="row">
            <dt class="col-sm-4 fw-bold">@Html.DisplayNameFor(model => model.DoseSchedule.NextDoseDate)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.DoseSchedule.NextDoseDate)</dd>

            <dt class="col-sm-4 fw-bold">@Html.DisplayNameFor(model => model.DoseSchedule.DoseNumber)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.DoseSchedule.DoseNumber)</dd>

            <dt class="col-sm-4 fw-bold">@Html.DisplayNameFor(model => model.DoseSchedule.Status)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.DoseSchedule.Status)</dd>

            <dt class="col-sm-4 fw-bold">@Html.DisplayNameFor(model => model.DoseSchedule.CreateAt)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.DoseSchedule.CreateAt)</dd>

            <dt class="col-sm-4 fw-bold">@Html.DisplayNameFor(model => model.DoseSchedule.VaccineName)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.DoseSchedule.VaccineName)</dd>

            <dt class="col-sm-4 fw-bold">@Html.DisplayNameFor(model => model.DoseSchedule.ChillName)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.DoseSchedule.ChillName)</dd>
          
        </dl>

        <form method="post" class="text-center">
            <input type="hidden" asp-for="DoseSchedule.Id" />
            <button type="submit" class="btn btn-danger px-4">Delete</button>
            <a asp-page="./Index" class="btn btn-secondary ms-3">Cancel</a>
        </form>
    </div>
</div>
